@model Models.ViewModels.airLineFlightsVM

@{
    ViewData["Title"] = "Create";
    var airlines = ViewData["airlines"] as List<Models.Models.Airline>;
    var flights = ViewData["flights"] as List<Models.Models.Flight>;
}

<h1>Create</h1>

<h4>AirLineFlights</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AirlineId" class="control-label">Airline</label>
                <select asp-for="AirlineId" class ="form-control">
                    <option selected disabled>Select Airline</option>
                    @foreach(var i in airlines)
                    {
                        <option value="@i.AirlineId">@i.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="FlightId" class="control-label">Flight</label>
                <select asp-for="FlightId" class ="form-control">
                    <option value="" selected disabled>Select Flight</option>
                    @foreach (var i in flights)
                    {
                        <option value="@i.FlightId" >@i.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
